<?xml version="1.0"?>
<config>
    <modules>
        <FW_Dropship>
            <version>0.3.0</version>
        </FW_Dropship>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <dropship after="Mage_Adminhtml">FW_Dropship_Adminhtml</dropship>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <dropship_menu>
                            <title>Dropshipping</title>
                            <children>
                                <vendors translate="title" module="dropship">
                                    <title>Manage Vendors</title>
                                </vendors>
                            </children>
                        </dropship_menu>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <global>
        <models>
            <dropship>
                <class>FW_Dropship_Model</class>
                <resourceModel>dropship_mysql4</resourceModel>
            </dropship>
            <dropship_mysql4>
              <class>FW_Dropship_Model_Mysql4</class>
	          <entities>
	              <vendor>
	                  <table>fw_vendors</table>
	              </vendor>
	          </entities>               
            </dropship_mysql4>
        </models>
    	<resources>
        	<vendor_write>
            	<connection>
                	<use>core_write</use>
            	</connection>
        	</vendor_write>
        	<vendor_read>
            	<connection>
                	<use>core_read</use>
            	</connection>
        	</vendor_read>
        	<vendor_setup>
		        <setup>
		            <module>FW_Dropship</module>
		            <class>FW_Dropship_Model_Resource_Mysql4_Setup</class>
		        </setup>
		        <connection>
		            <use>core_setup</use>
		        </connection>        	
        	</vendor_setup>
    	</resources>    
      <helpers>
        <dropship>
          <class>FW_Dropship_Helper</class>
        </dropship>
      </helpers>
      <blocks>
          <dropship>
              <class>FW_Dropship_Block</class>
          </dropship>
      </blocks>
	  <events>
 	  <checkout_onepage_controller_success_action>
	    <observers>
		    <fw_dropship>
			  <class>FW_Dropship_Model_Observer</class>
			  <method>emailVendorAfterOrder</method>
	        </fw_dropship>
		  </observers>
	   </checkout_onepage_controller_success_action>
	   <vistaprocessing_complete_paypal_order>
	    <observers>
		    <fw_dropship>
			  <class>FW_Dropship_Model_Observer</class>
			  <method>completeFailedOrderEmailVendorAfterOrder</method>
	        </fw_dropship>
		  </observers>
	    </vistaprocessing_complete_paypal_order> 
	  </events>
    </global>
</config>
